* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}


.components {
  width: 80%;
  height: 80vh;
  background: rgb(243, 218, 229);
  background: radial-gradient(circle, rgba(243, 218, 229, 1) 0%, rgba(198, 215, 235, 1) 100%);
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.left_section {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 3px;

}

.label {
  margin: 10px;
  flex-direction: column;
  display: flex;
  font-size: 20px;
  background-color: rgba(240, 248, 255, 0.283);
  width: 50%;
}

.label input {
  padding: 8px;
  border: none;
  margin: 10px;
  background-color: rgba(240, 248, 255, 0);
  border-bottom: 1px solid rgba(240, 248, 255, 0.916);
  ;
}


.buttons input{
  width: 40px ;
  border: none;
 margin: 5px;
 background-color: rgba(240, 248, 255, 0);
 }
 
 .buttons{
   display: flex;
   flex-direction: column;
   width: 50%;
   align-items: center;
   margin: 10px;
   background-color: rgba(240, 248, 255, 0.283);
 }
 


.right-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  align-items: center;
  background-color: rgba(207, 248, 234, 0.301);
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 3px;
  margin: 30px
}

.note {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 238, 234);
  border-radius: 3px;
}

.note h2 {
  color: rgba(217, 184, 247, 0.557);
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 15px;
}

.note h3 {
  margin: 10px;
  font-size: 20px;
  font-weight: 100;
  font-family: cursive;
}

.note p {
  margin: 15px;
  font-size: 15px;
  font-family: cursive
}